---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!-- TODO: change title, content and description -->
<BaseLayout title="Home" description="Here is the home">
  <h1>Hello</h1>
</BaseLayout>
