---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Portfolio"
  description="My projects"
  pubDate={new Date("August 08 2021")}
  heroImage={AboutHeroImage}
>
  <section>
    <h2>Psynergy</h2>
  </section>
  <section>
    <h2>Must Informatique</h2>
  </section>
  <section>
    <h2>Eaumetrie</h2>
  </section>
  <section>
    <h2>Oxeau Metering</h2>
  </section>
</Layout>
