---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!-- TODO: change title, description and create content -->
<BaseLayout title="Portfolio" description="My projects">
  <section>
    <h2>Psynergy</h2>
  </section>
  <section>
    <h2>Must Informatique</h2>
  </section>
  <section>
    <h2>Eaumetrie</h2>
  </section>
  <section>
    <h2>Oxeau Metering</h2>
  </section>
</BaseLayout>
