---
const today = new Date();
---

<footer class="text-center p-8">
  &copy; {today.getFullYear()} François Lachèse. All rights reserved.
  <!-- Fix those links -->
  <div class="social-links">
    <a href="https://twitter.com/astrodotbuild" target="_blank">
      <span class="sr-only">Follow Astro on Twitter</span>
    </a>
  </div>
</footer>
