<div
  class="prose dark:prose-invert
  prose-h1:font-bold
  prose-h1:text-xxl
  prose-p:text-justify
  prose-img:rounded-xl
  prose-headings:text-yellow
  prose-h1:text-primary
  prose-h2:text-secondary
  prose-h3:text-tertiary
  prose-a:text-lavender
  m-auto max-w-[800px]"
>
  <slot />
</div>
